<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Owner Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:switch="${authenticatedUser.getId() == ownerUser.getId()}">
    <!--  normal profile view for the User  -->
    <div th:case="true">
        <div th:insert="partials/view-profiles/owner"></div>

    </div>
    <!--  Profile of user that was selected  -->
    <div th:case="false">
        <div th:insert="partials/view-profiles/non-owner"></div>
    </div>


</div>
</body>
</html>