/*font family*/
/*font-family: 'Jost', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/



/*welcome*/
.welcome-body{
    background-color: cornsilk;
    font-family: 'Source Sans Pro',sans-serif;
}
.welcome-h1{
    font-family: 'Jost', sans-serif;
    text-align: center;
    color: #f18c55;
    margin: 2% 0 2% 0;

}
.welcome-h3{
    color: #f18c55;
    text-align: center;
}

.welcome-p{
    color:#073b4c;
    text-align: center;

}

.welcome-footer{
    position:fixed;
    bottom:0;
}

.btn{
    border-color: #f18c55;
    color: #f18c55;
    font-weight: bold;
    align-items: end;
}




























/*home*/






















/*navbar*/
.navbar-nav {
    color: #f18c55; !important
}





















/*login & register*/














/*misc*/
















/*non mobile view*/
@media screen and (min-width:812px)
{

    /*welcome*/
    body{
    }






























    /*home*/






















    /*navbar*/






















    /*login & register*/














    /*misc*/














}
