.profile-view{
    flex-wrap: nowrap;
}

#user-info .col{
    flex-grow: revert;
}

.names{
    padding: 0; !important;
}

body{

    height: 100%;

}

#sticky-footer{
    flex-shrink: 0;
}

/*non mobile view*/
@media screen and (min-width:812px)
{
    body{

    }
}
