<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #073b4c" th:fragment="navbar">
    <a href="/" style="max-width: 80%">
        <img src="img/logo.png" th:src="@{/img/logo.png}" alt="logo" class="navbar-brand" width="28%" height="28%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border-color: #f18c55;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
        </ul>
        <!-- Sign up/Login nav-links (not logged in) -->
        <div sec:authorize="!isAuthenticated()">
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="login-navbar nav-link" href="#loginModal">login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container d-none">
            <button type="hidden" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal"></button>
        </div>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h1 class="">Log In</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="login-main">

                            <div th:if="${param.error}">
                                Invalid Username or Password. Please try again.
                            </div>
                            <div th:if="${param.logout}">
                                You have been successfully logged out.
                            </div>
                        <div class="d-flex flex-column text-center">
                            <form th:action="@{/login}" method="post">
                                <div class="" style="max-width: 30rem;">
                                    <div class="row mb-3">
                                        <label for="email" class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            <input id="email" class="form-control" name="username" type="email"/>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="password" class="col-4 col-form-label">Password</label>
                                        <div class="col-8">
                                            <input id="password" name="password" class="form-control" type="password"/>
                                        </div>
                                    </div>
                                    <button id="login-btn " type="submit" class="mx-2 btn btn-outline-*">Log In</button>
                                </div>
                            </form>
                                </div>
                            <div class="modal-footer border-0 d-flex justify-content-center">
                                <div class="signup-section">Not a member yet? <a href="/register" class="text-info">Sign Up</a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- These items will only display if the user is logged in -->
        <div sec:authorize="isAuthenticated()">
        <div>
            <ul class="navbar-nav ml-auto">
<!--                <li class="nav-item">Welcome-->
<!--                    <span th:text="${#authentication.getPrincipal()}"></span>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="border-style: none">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<script>

</script>
</body>
</html>
