<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    WorkUp
    <!--object placeholder while search is being built-->
    <form action="/search">
        <input type="text" name="term" placeholder="Search term">
        <button class="btn">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/welcome">Home</a>
            </li>
        </ul>
        <!-- Sign up/Login nav-links (not logged in) -->
        <div sec:authorize="!isAuthenticated()">
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
            </div>
        <!-- These items will only display if the user is logged in -->
        <div sec:authorize="isAuthenticated()">
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/owner-profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/owner-profile/projects/create">Create Project</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                    <a class="nav-link" href="/login?logout">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
</body>
</html>
<!--TODO: Access profile from navBar as a logged in user. Note: Id is not getting passed correctly at line 43. Then navBar buttons.... again-->
