<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
        <p>Greetings <span th:text="${contactUser.fullName}"></span>,</p>
        <p>Your profile was viewed by the WorkUp user below because they are eager to find out more about you and what you offer them. Make sure to respond! It's polite and a way to find out why you piqued their interest.
            Respond via one of the options listed on their contact information below. We have provided some information from
            their profile so you aren't going in cold. Good Luck!</p>
        <p>Name: <span th:text="${primaryUser.fullName}"></span></p>
        <p>Contact: <span th:text="${primaryUser.email}"></span></p>
        <p>About: <span th:text="${primaryProfile.about}"></span></p>
        <p>Sincerely, <br>
            The WorkUp Team</p>
</body>
</html>