<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Owner Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="card">
        <th:block th:each="profile : ${ownerProfile}">
            <p th:text="${profile.image_url}"></p>
            <p th:text="${profile.about}"></p>
            <p th:text="${profile.portfolio_link}"></p>
            <p th:text="${profile.resume_link}"></p>
            <p th:text="${profile.city}"></p>
            <p th:text="${profile.state}"></p>
            <p th:text="${profile.phone_number}"></p>
            <p th:text="${profile.categories}"></p>
        </th:block>
    </div>
</div>
</body>
</html>