<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Owner Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h3>My Profile</h3>

<div class="card flex-row justify-content-evenly m-4">
    <div class="main-content row justify-content">
        <div class="profile-photo col-auto">
            <form th:action="@{profile/profileImg/add}" th:method="get">
                <th:block th:each="profile : ${ownerProfile}">
                    <div>
                        <img th:src="${ownerProfile.profile_image_url}">
                    </div>
                    <button>Edit Photo</button>
                </th:block>
            </form>
            <br>
            <form th:action="@{/profile/edit}" th:method="get">
                <button>Edit Profile</button>
            </form>
        </div>

        <div class="user-info row" th:action="@{/profile/edit}">
            <th:block th:each="profile : ${ownerProfile}">
                <div class="col-md-auto col-sm-auto m-auto">

                    <div class="row">
                        <label class="col"><strong>About Me: </strong></label>
                        <div th:text="${ownerProfile.about}"></div>
                    </div>

                    <div class="row">
                        <label class="col"><strong>Portfolio:</strong></label>
                        <div th:text="${ownerProfile.portfolio_link}"></div>
                    </div>

                    <div class="row">
                        <label class="col"><strong>Resume Link:</strong></label>
                        <div th:text="${ownerProfile.resume_link}"></div>
                    </div>

                    <div class="row">
                        <label class="col"><strong>Categories</strong></label>
                        <th:block th:each="category : ${ownerProfile.categories}">
                            <div th:text="${category.name}"></div>
                        </th:block>
                    </div>
                </div>

                <div class="col-md-auto col-sm-auto" m-auto>
                    <div class="row">
                        <label class="col"><strong>City: </strong></label>
                        <div th:text="${ownerProfile.city}"></div>
                    </div>

                    <div class="row">
                        <label class="col"><strong>State: </strong></label>
                        <div th:text="${ownerProfile.state}"></div>
                    </div>

                    <div class="row">
                        <label class="col"><strong>Phone Number: </strong></label>
                        <div th:text="${ownerProfile.phone_number}"></div>
                    </div>
                </div>

            </th:block>
        </div><!-- row user info-->
    </div><!-- row main content-->
</div><!-- container-->
<br>

<div class="container">
    <h3>My Projects</h3>

    <form th:action="@{profile/projects/create}" th:method="get">
        <button>Add Project</button>
    </form>
    <br>
    <th:block th:each="project : ${ownerProject}">
        <div class="card">
            <form th:action="@{/profile}" th:method="post">
                <p th:text="${project.title}"></p>
                <p th:text="${project.description}"></p>
                <p th:text="${project.status.toUpperCase().replace('_', ' ')}"></p>
                <p th:text="${project.creationDate}"></p>

                <th:block th:each="category : ${ownerProfile.categories}">
                    <p th:text="${category.name}"></p>
                </th:block>

            </form>

            <a th:href="@{/projects/{id}/edit(id=${project.getId()})}">Edit Project </a>
<br>
            <a th:href="@{/profile/projectImg/{id}/add(id=${project.getId()})}">Manage Project Images</a>

        </div>
    </th:block>
</div>
</body>
</html>