<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>About Us</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <h3 class="text-center"> About The WorkUp Team</h3>

    <div class="container text-center" id="about-workup">
        <p>We are a small team of CodeUp fullstack developers. We created WorkUp as a way for recent graduates of career accelerator programs in the tech field to link with business owners and continue the development of their new skills as well as get real world experience.</p>
    </div>

    <div class="container" id="abouts-us">

        <div class="row">
            <div id="alex">
                <div>
                    <img src="img/alexH.jpg" width="25%" height="25%">
                </div>
                <a href="https://www.linkedin.com/in/alexanderhernando-avitia/">Alex Hernando-Avitia LinkedIn</a>
                <a href="https://github.com/alex-avitia">Alex Hernando-Avitia Github</a>
            </div>
            <div id="vanessa">
                <div>
                    <img src="img/vanessa.jpg" width="25%" height="25%">
                </div>
                <a href="https://www.linkedin.com/in/vanessa-noriega/">Vanessa Noriega LinkedIn</a>
                <a href="https://github.com/vpnoriega">Vanessa Noriega Github</a>
            </div>
        </div>

        <div class="row">
            <div id="thoms">
                <div>
                    <img src="img/Alexander_Thoms.jpg" width="25%" height="25%">
                </div>
                <a href="https://www.linkedin.com/in/alexander-thoms-81250188/">Alex Thoms LinkedIn</a>
                <a href="https://github.com/ThomsAlexander23">Alex thoms Github</a>
            </div>
            <div id="taylor">
                <div>
                    <img src="img/taylor.jpg" width="25%" height="25%">
                </div>
                <a href="https://www.linkedin.com/in/taylor-lindholm-a35498207/">Taylor Lindholm LinkedIn</a>
                <a href="https://github.com/Taylor-Lindholm">Taylor Lindholm Github</a>
            </div>
        </div>


    </div>

<footer th:replace="partials/footer :: #sticky-footer"></footer>

</body>
</html>
