<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="welcome-body">
<nav th:replace="partials/navbar :: navbar"></nav>
<div style="padding: 1rem 3rem">
    <h1><strong>Frequently Asked Questions</strong></h1>
    <br><br>
    <h3 style="color: #f18c55"><strong>What is WorkUp?</strong></h3>
    <p>WorkUp is intended to be a reservoir for developers to participate in the exchange of small workloads for network potential and credibility.
    We aim to refine this process in a clear and meaningful way, fulfilling the missing link between boot camp/college graduation and the working field.</p>
    <br><br>
    <h3 style="color: #f18c55"><strong>Can I make money through this website?</strong></h3>
    <p>Regarding our clear intention, monetary exchange is under the discretion of clients and developers; in other words, we do not handle this sort of exchange, nor
    are we responsible for the exchange rate, or lack thereof. If someone is intentionally misleading others into assuming they will be paid
    without delivering what is promised, the person(s) in question shall expect consequences.</p>
    <br><br>
    <h3 style="color: #f18c55"><strong>Isn't this considered unpaid labor?</strong></h3>
    <p>Not necessarily. The extent of the requested help is decided by the client themselves, however there is plenty of opportunity to review the project
    in question, as well as the developer who is to handle this task. Both parties consent to this exchange and agree upon what is expected on each other.
    As stated above, if this honor system is abused, feel free to contact us if you have comments or concerns.</p>
    <br><br>
    <h3 style="color: #f18c55"><strong>Do I need to have a certain amount of experience to be considered a project owner/client?</strong></h3>
    <p>Not at all! If you have a project that needs some touching up, a bug that needs debugging, etc. you may create a post or even seek out specific
    developers to assist you.</p>
    <br><br>
    <h3 style="color: #f18c55"><strong>What can I do if my project hasn't been picked up in a while, or I have not been accepted onto a project?</strong></h3>
    <p>If you feel like your project is not being picked up, consider how it is presented! You may add pictures or documents to better convey the help
    you need. Take a look at your profile as well: we encourage all applicable fields to be filled out. Consider giving thought to the workload you are presenting;
        perhaps it's too daunting and should be downsized a bit.</p>
    <br>
    <p>If you are getting rejected after picking up a project repeatedly, make sure you are properly representing yourself! Check if all applicable fields
    are being filled on your profile. Consider showing developers what you are capable of if you feel like you aren't being picked despite being
    qualified.</p>
    <br>
</div>
<footer th:replace="partials/footer :: footer" class="welcome-footer"></footer>

</body>
</html>