<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="login-main container" style="min-height: 32em;">
<h1 class="login-h1">Log In</h1>
<div th:if="${param.error}">
    Invalid Username or Password. Please try again.
</div>
<div th:if="${param.logout}">
    You have been successfully logged out.
</div>
<form th:action="@{/login}" method="post">
    <div class="container" style="max-width: 30rem;">
    <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
    <input id="email" class="form-control" name="username" type="email"/>
        </div>
    </div>
    <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
    <input id="password" name="password" class="form-control" type="password"/>
        </div>
    </div>
    <button id="login-btn" type="submit" class="btn btn-outline-*">Log In</button>
    </div>
</form>
</div>
<footer th:replace="partials/footer :: #sticky-footer"></footer>
</body>
</html>