<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <div class="card">
                <article class="card-body">
                    <form th:action="@{/register}" th:method="post" th:object="${user}">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>First Name </label>
                                <input th:field="*{firstName}" type="text" class="form-control" th:required="required">
                            </div>
                            <div class="col form-group">
                                <label>Last Name</label>
                                <input th:field="*{lastName}" type="text" class="form-control" th:required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose your account type:</label>
                            <label class="form-check form-check-inline">
                                <input th:field="*{role.id}" class="form-check-input" type="radio" name="role"
                                       th:value="${1}" id="1" th:required="required">
                                <span class="form-check-label">Project Owner</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input th:field="*{role.id}" class="form-check-input" type="radio" name="role"
                                       th:value="${2}" id="2" th:required="required">
                                <span class="form-check-label">Developer</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input th:field="*{email}" type="email" class="form-control" th:required="required">
                        </div>
                        <div class="form-group pass-strength-visible">
                            <label for="password">Create password</label>
                            <div class="input-group" id="show_hide_password">
                                <input type="password" class="form-control" id="password" autocomplete="off" th:field="*{password}" th:required="required"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br>
                            <a href="/tos.html">Terms of use and Privacy Policy</a>.</small>
                    </form>
                </article>
                <div class="border-top card-body text-center">Have an account? <a href="/login">Log In</a></div>
            </div>
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div>
<!--container end.//-->

<script src="./js/password-strength-meter/password.min.js"></script>
<script src="./js/password-strength-meter/password.min.css"></script>

<script>
    $('#password').password({
        closestSelector: '.input-group',
        enterPass: 'Type your password',
        shortPass: 'Must be at least 8 characters long',
        containsField: 'The password contains your username',
        steps: {
            // Easily change the steps' expected score here
            13: 'Really insecure password',
            33: 'Weak; try combining letters & numbers',
            67: 'Medium; try using special characters',
            94: 'Strong password',
        },
        showPercent: false,
        showText: true, // shows the text tips
        animate: true, // whether or not to animate the progress bar on input blur/focus
        animateSpeed: 'fast', // the above animation speed
        field: false, // select the match field (selector or jQuery instance) for better password checks
        fieldPartialMatch: true, // whether to check for partials in field
        minimumLength: 8 // minimum password length (below this threshold, the score is 0)
    });
</script>

<script>
    var input = $("#show_hide_password input");
    var icon = $("#show_hide_password i");

    icon.on('click', function (event) {
        event.preventDefault();

        if (input.attr("type") === "text") {
            input.attr('type', 'password');
            icon.addClass("fa-eye-slash");
            icon.removeClass("fa-eye");

        } else if (input.attr("type") === "password") {
            input.attr('type', 'text');
            icon.removeClass("fa-eye-slash");
            icon.addClass("fa-eye");
        }
    });
</script>

<br><br>

</body>
</html>
