<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5" style="border-radius: 8px;
    background-color: #568a7f;">
            <div class="card" style="margin: 12px 0;">
                <article class="card-body" style="color: #073b4c;">
                    <form autocomplete="off" th:action="@{/register}" th:method="post" th:object="${user}">
                        <div class="names form-row" style="width: 100%">
                            <div class="row" style="width: inherit">
                                <div class="col">
                                <label>First Name </label>
                                <input th:field="*{firstName}" type="text" class="form-control" th:required="required">
                                </div>
                                <div class="col">
                                <label>Last Name</label>
                                <input th:field="*{lastName}" type="text" class="form-control" th:required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose your account type:</label>
                            <label class="form-check form-check-inline">
                                <input th:field="*{role.id}" class="form-check-input" type="radio" name="role"
                                       th:value="${1}" id="1" th:required="required">
                                <span class="form-check-label">Project Owner</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input th:field="*{role.id}" class="form-check-input" type="radio" name="role"
                                       th:value="${2}" id="2" th:required="required">
                                <span class="form-check-label">Developer</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <label>
                                <input th:field="*{email}" type="email" class="form-control" th:required="required">
                            </label>
                            <p th:utext="${emailError}"></p>
                            <p th:utext="${emailExistsError}"></p>
                        </div>
                        <div class="form-group">
                            <label for="password">Create password</label>
                            <div class="input-group" id="show_hide_password">
                                <input th:field="*{password}" type="password" class="form-control" value="" id="password" autocomplete="new-password" th:required="required"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                    <p th:utext="${passwordError}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordRepeat">Confirm password</label>
                            <input th:field="*{passwordRepeat}" type="password" id="passwordRepeat" class="form-control" placeholder="Password"  th:required="required">
                            <p th:utext="${confirmPass}"></p>
                        </div>
<!--                        <input src="src/main/resources/static/img/default-person-icon.png" hidden-->
                        <div class="form-group">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #568A7F; border-style: none; color: white;">Register</button>
                        </div>
                        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br>
                            <a th:href="@{/tos}" style="color: #f18c55">Terms of use and Privacy Policy</a>.</small>
                    </form>
                </article>
                <div class="border-top card-body text-center">Have an account? <a href="/login" style="color: #f18c55">Log In</a></div>
            </div>
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div>
<!--container end.//-->

<script>
    var input = $("#show_hide_password input");
    var icon = $("#show_hide_password i");

    icon.on('click', function (event) {
        event.preventDefault();

        if (input.attr("type") === "text") {
            input.attr('type', 'password');
            icon.addClass("fa-eye-slash");
            icon.removeClass("fa-eye");

        } else if (input.attr("type") === "password") {
            input.attr('type', 'text');
            icon.removeClass("fa-eye-slash");
            icon.addClass("fa-eye");
        }
    });
</script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script>

    $('.login-navbar').click(function(){
        $('#loginModal').modal('show');
    })
</script>
<br><br>
<footer th:replace="partials/footer :: #sticky-footer"></footer>
</body>
</html>
