<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="col form-group">

  <label>Upload supporting documents or photos for your project</label>

  <form id="images" th:action="@{/profile/projectImg/{id}/add((id=${addProjectImg.getId()}))}" method="post" th:object="${addProjectImg}">

    <button id="picker" type="button">Select File</button>

    <input type="submit" value="Submit">
  </form>
</div>

<th:block th:each="projectImage : ${projectImageList}">
  <div class="col form-group">
    <embed th:width="800" th:height="1000" th:src="${projectImage.path}">
  </div>
</th:block>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

<script th:inline="javascript">
  (function (){
    const filestackapi = [[${filestackapi}]];
    const client = filestack.init(filestackapi);

    const options = {
      imageDim:[500,null],
      maxFiles:5,
      accept:["image/*", ".pdf", "text/*"],

      onUploadDone: (res) =>{
              $('#images').append(`<input type="hidden" name="project_img" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`);

      $('#images').prepend(`<embed width="800" height="1000" src='${res.filesUploaded[0].url}'>`);
  },

    }

    $("#picker").click(function (){
      client.picker(options).open();
    })
  })();

</script>
</body>
</html>