<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <h3>Create a new project: </h3>
    <form th:action="@{/projects/create}" th:method="post" th:object="${project}">
        Name of Project:
        <input name="title" th:field="*{title}"/>
        <br/>
        Overall Description of Project:
        <input name="description" th:field="*{description}"/>
        <br/>
        What categories would you like to include in your project:<!--TODO: add a checkbox or select box depending on categories-->
        <br/>
        Upload any corresponding files about your project here: (files upload)<!--TODO: add Filestack functionality here-->
        <button type="button">Upload files</button>
<br/>
        <input type="submit" value="Save Project"/>
    </form>
</div>
</body>
</html>