<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <h3>Create a new project: </h3>
    <form th:action="@{/projects/create}" th:method="post" th:object="${project}">
        Name of Project:
        <input name="title" th:field="*{title}"/>
        <br/>
        Overall Description of Project:
        <input name="description" th:field="*{description}"/>
        <br/>
        What categories would you like to include in your project:<!--TODO: add a checkbox or select box depending on categories-->
        <br/>
        Categories:
        <div>
        <input id="E-mail service" type="checkbox" name="categories" th:field="*{categories}" th:value="Email_service">
        <label for="E-mail service"></label>
        </div>
        <div>
            <input id="Database" type="checkbox" name="categories" th:field="*{categories}" th:value="Database">
            <label for="Database"></label>
        </div>
        <div>
            <input id="UI/UX" type="checkbox" name="categories" th:field="*{categories}" th:value="UI_UX">
            <label for="UI/UX"></label>
        </div>
        <div>
            <input id="RESTful API" type="checkbox" name="categories" th:field="*{categories}" th:value="RESTful_API">
            <label for="RESTful API"></label>
        </div>
        <div>
            <input id="Authentication" type="checkbox" name="categories" th:field="*{categories}" th:value="Authentication">
            <label for="Authentication"></label>
        </div>
        <div>
            <input id="JavaScript" type="checkbox" name="categories" th:field="*{categories}" th:value="JavaScript">
            <label for="JavaScript"></label>
        </div>
        <div>
            <input id="AJAX" type="checkbox" name="categories" th:field="*{categories}" th:value="AJAX">
            <label for="AJAX"></label>
        </div>
        <div>
            <input id="JQuery" type="checkbox" name="categories" th:field="*{categories}" th:value="JQuery">
            <label for="JQuery"></label>
        </div>
        <div>
            <input id="Java" type="checkbox" name="categories" th:field="*{categories}" th:value="Java">
            <label for="Java"></label>
        </div>
        <div>
            <input id="Spring" type="checkbox" name="categories" th:field="*{categories}" th:value="Spring">
            <label for="Spring"></label>
        </div>
        <div>
            <input id="CSS" type="checkbox" name="categories" th:field="*{categories}" th:value="CSS">
            <label for="CSS"></label>
        </div>
        <div>
            <input id="MySQL" type="checkbox" name="categories" th:field="*{categories}" th:value="MySQL">
            <label for="MySQL"></label>
        </div>
        <div>
            <input id="Full-Stack Development" type="checkbox" name="categories" th:field="*{categories}" th:value="Full_stack_development">
            <label for="Full-Stack Development"></label>
        </div>
        <div>
            <input id="Back-end development" type="checkbox" name="categories" th:field="*{categories}" th:value="Back_end_development">
            <label for="Back-end development"></label>
        </div>
        <div>
            <input id="Front-end development" type="checkbox" name="categories" th:field="*{categories}" th:value="Front_end_development">
            <label for="Front-end development"></label>
        </div>
            <br/>
        <div>
            <label>
                <select th:field="*{status}">
                    <option th:value="Open">Open</option>
                    <option th:value="In_progress">In progress</option>
                </select>
            </label>
        </div>
        Upload any corresponding files about your project here: (files upload)<!--TODO: add Filestack functionality here-->
        <button type="button">Upload files</button>
<br/>
        <input type="submit" value="Save Project"/>
    </form>
</div>
</body>
</html>
