<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>WorkUp Projects</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<br>
<h1>Open Projects</h1>
<br>
<!--TODO: Need to reference user story again about card display, then what info comes up when user clicks on card-->
<th:block th:each="project : ${allProjects}">
    <h3 th:text="${project.title}"></h3>
    <p th:text="${project.description}"></p>
</th:block>
</body>
</html>