<div class="container profile">

    <div class="card profile-card-outer col">
        <h3 class="text-center">My Profile</h3>

        <div class="main-content row p-3">
            <div class="col-3">
                <div class="profile-photo col-md-auto col-sm-auto">
                    <form th:action="@{profile/profileImg/add}" th:method="get">
                        <th:block th:each="profile : ${ownerProfile}">
                            <div th:if="${ownerProfile.profile_image_url == null}">
                                <div>
                                    <img src="/img/default-person-icon.png" alt="default pic" width="100"
                                         height="100">
                                </div>
                            </div>
                            <div>
                                <img th:src="${ownerProfile.profile_image_url}">
                            </div>
                            <button>Edit Photo</button>
                        </th:block>
                    </form>
                </div>
            </div>

            <div class="col-9">
                <div class="user-info row mx-md-n5" th:action="@{/profile/edit}">
                    <th:block th:each="profile : ${ownerProfile}">

                        <div class="row profile-view">
                            <label class="field-name"><strong>Name:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.user.getFullName()}"></div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>About Me:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.about}"></div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>Portfolio:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.portfolio_link}"></div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>Resume Link:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.resume_link}"></div>
                        </div>
                        <div th:if="${ownerProfile.user.role.getId() == 2}">

                            <div class="row profile-view">
                                <label class="field-name"><strong>Preferred Languages & Frameworks: </strong></label>
                                <th:block th:each="category : ${ownerProfile.categories}">
                                    <div class="field-text" th:text="${category.name}"></div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>City:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.city}"></div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>State:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.state}"></div>
                        </div>

                        <div class="row profile-view">
                            <label class="field-name"><strong>Phone Number:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.phone_number}"></div>
                        </div>
                        <div class="row profile-view">
                            <label class="field-name"><strong>Email:   </strong></label>
                            <div class="field-text" th:text="${ownerProfile.user.getEmail()}"></div>
                        </div>
                        <br>
                        <div class="col edit-profile-btn ml-5">
                            <form th:action="@{/profile/edit}" th:method="get">
                                <button>Edit Profile</button>
                            </form>
                        </div>
                    </th:block>
                </div><!-- row user info-->
            </div><!-- row main content-->
        </div><!-- card-->
    </div><!-- container-->
</div>
