<h3>Project Board</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Pending</h2>

      <th:block th:each="project : ${devProject}">

        <div th:if="${project.getDeveloperUser().isChosen() == false && project.getStatus() == 'Open'}" class="card w-50 m-2 p-3">
            <div class="row profile-view">
              <label class="col"><strong>Title</strong></label>
              <div class="col" th:text="${project.title}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Description</strong></label>
              <div class="col" th:text="${project.description}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Status</strong></label>
              <div class="col" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Created On</strong></label>
              <div class="col" th:text="${project.creationDate}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Preferred Languages & Frameworks</strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="col" th:text="${category.name}"></div>
              </th:block>
              <form th:action="@{/home/view-prospect}" method="post">
                <input type="hidden" th:name="ownerID" th:value="${project.getUser().getId()}">
                <button type="submit" class="btn-outline-success">View Owner</button>
              </form>
            </div>
        </div>
      </th:block>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>In Progress</h2>
      <th:block th:each="project : ${devProject}">
        <div th:if="${project.getStatus() != 'Open' && project.getDeveloperUser().isChosen() == true && project.completionDate == null}" class="card w-50 m-2 p-3">
            <div th:if="${project.getStatus() == 'Closed'}" class="row profile-view">
                <h6>This projects is awaiting review!</h6>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Title</strong></label>
              <div class="col" th:text="${project.title}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Description</strong></label>
              <div class="col" th:text="${project.description}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Status</strong></label>
              <div class="col" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Created On</strong></label>
              <div class="col" th:text="${project.creationDate}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Preferred Languages & Frameworks </strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="col" th:text="${category.name}"></div>
              </th:block>
              <form th:action="@{/home/view-prospect}" method="post">
                <input type="hidden" th:name="ownerID" th:value="${project.getUser().getId()}">
                <button type="submit" class="btn-outline-success">View Owner</button>
              </form>
                <div th:if="${project.getStatus() == 'in progress'}">
                    <form th:action="@{/home/review}" method="post">
                        <input type="hidden" th:name="projectID" th:value="${project.getId()}">
                        <button type="submit" class="btn-outline-success">Ready for Review</button>
                    </form>
                </div>

            </div>
        </div>
      </th:block>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Complete</h2>
      <th:block th:each="project : ${devProject}">
        <div th:if="${project.getStatus() == 'Closed' && project.completionDate != null}" class="card w-50 m-2 p-3">
            <div class="row profile-view">
              <label class="col"><strong>Title</strong></label>
              <div class="col" th:text="${project.title}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Description</strong></label>
              <div class="col" th:text="${project.description}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Status</strong></label>
              <div class="col" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Created On</strong></label>
              <div class="col" th:text="${project.creationDate}"></div>
            </div>
            <div class="row profile-view">
                <label class="col"><strong>Completed On</strong></label>
                <div class="col" th:text="${project.completionDate}"></div>
            </div>
            <div class="row profile-view">
              <label class="col"><strong>Preferred Languages & Frameworks </strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="col" th:text="${category.name}"></div>
              </th:block>
              <form th:action="@{/home/view-prospect}" method="post">
                <input type="hidden" th:name="ownerID" th:value="${project.getUser().getId()}">
                <button type="submit" class="btn-outline-success">View Owner</button>
              </form>
            </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
</div>