<form th:action="@{profile/projects/create}" th:method="get">
  <button>Add Project</button>
</form>
<h3 class="text-center">Project Board</h3>
<br>

<div class="container owner-project-cards">
      <div>
      <h2 class="text-center">Open</h2>

      <th:block th:each="project : ${ownerOpenProject}">
        <div class="card profile-profect-card">
          <form th:action="@{/profile}" th:method="post">

            <div class="row profile-view">
              <label class="field-name"><strong>Title:</strong></label>
              <div class="field-text" th:text="${project.title}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Description:</strong></label>
              <div class="field-text" th:text="${project.description}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Status:</strong></label>
              <div class="field-text" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Created On</strong></label>
              <div class="field-text" th:text="${project.creationDate}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Languages & Frameworks:</strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="field-text" th:text="${category.name}"></div>
              </th:block>
            </div>

          </form>

          <a th:href="@{/projects/{id}/edit(id=${project.getId()})}">Edit Project </a>
          <br>
          <a th:href="@{/profile/projects/{id}/add(id=${project.getId()})}">Manage Files</a>
        </div>
      </th:block>
    </div>

    <div>
      <h2 class="text-center">In Progress:</h2>

      <th:block th:each="project : ${ownerRestrictedProject}">
        <div class="card profile-profect-card">
          <form th:action="@{/profile}" th:method="post">

            <div class="row profile-view">
              <label class="field-name"><strong>Title:</strong></label>
              <div class="field-text" th:text="${project.title}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Description:</strong></label>
              <div class="field-text" th:text="${project.description}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Status:</strong></label>
              <div class="field-text" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Created On:</strong></label>
              <div class="field-text" th:text="${project.creationDate}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Languages & Frameworks: </strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="field-text" th:text="${category.name}"></div>
              </th:block>
            </div>

          </form>

          <div class="row profile-view">
            <label class="field-name"><strong>Active Developer:</strong></label>
            <div class="field-text" th:text="${project.getDeveloperUser().getFullName()}"></div>
          </div>

          <a th:href="@{/projects/{id}/edit(id=${project.getId()})}">Edit Project </a>
          <br>
          <a th:href="@{/profile/projects/{id}/add(id=${project.getId()})}">Manage Files</a>
        </div>

        <div class="inprogress-options">
        <div th:if="${project.getDeveloperUser().isChosen() == false}">
          <form th:action="@{/home/choose-prospect}" method="post">
            <input type="hidden" th:name="projectId" th:value="${project.getId()}">
            <button type="submit" class="btn-outline-success" name="chosen" value="true">Accept Dev</button>
            <button type="submit" class="btn-outline-success" name="chosen" value="false">Decline Dev</button>
          </form>
        </div>

        <form th:action="@{home/view-prospect}" method="post">
          <input type="hidden" th:name="ownerID" th:value="${project.getDeveloperUser().getId()}">
          <button type="submit" class="btn-outline-success">View Developer</button>
        </form>
        </div>
      </th:block>

    </div>

    <div>
      <h2 class="text-center">Closed</h2>
      <th:block th:each="project : ${ownerClosedProject}">
        <div th:if="${project.getStatus() == 'Closed'}" class="card profile-profect-card">
          <form th:action="@{/profile}" th:method="post">

            <div class="row profile-view">
              <label class="field-name"><strong>Title:</strong></label>
              <div class="field-text" th:text="${project.title}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Description:</strong></label>
              <div class="field-text" th:text="${project.description}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Status:</strong></label>
              <div class="field-text" th:text="${project.status.toUpperCase().replace('_', ' ')}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Created On:</strong></label>
              <div class="field-text" th:text="${project.creationDate}"></div>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Languages & Frameworks:</strong></label>
              <th:block th:each="category : ${project.categories}">
                <div class="field-text" th:text="${category.name}"></div>
              </th:block>
            </div>

            <div class="row profile-view">
              <label class="field-name"><strong>Completed On:</strong></label>
              <div class="field-text" th:text="${project.getDeveloperUser().getFullName()}"></div>
            </div>
          </form>

          <div th:if="${project.getStatus() == 'Closed' && project.completionDate == null}">
            <form th:action="@{/home/closed}" method="post">
              <input type="hidden" th:name="projectId" th:value="${project.getId()}">
              <button type="submit" class="btn-outline-success" name="chosen" value="true">Complete</button>
              <button type="submit" class="btn-outline-success" name="chosen" value="false">Contact Dev to Fix</button>
            </form>
        </div>
        </div>
      </th:block>
    </div>

</div>
